{% extends "AppCoder/padre.html" %}     
{% load static%}
{% block contenidoQueCambia %}
   <h1>Cursos</h1>
   <p>Info de los Cursos</p>
   {%if miFormulario.errors%}
   <p style="color: red;">Estan mal los datos! Favor de revisar.</p>
   {%endif%}
     <form action = "" method="POST"> {%csrf_token%}
     <!-- <p>Curso: <input type ="text" name ="curso"></p>
     <p>Camada: <input type ="numer" name ="camada"></p> -->
       <table>
         {{miFormulario.as_table}}
       </table>
       <input type ="submit" value="Enviar">
     </form>
{% endblock %}